[submodule "compiler/llvm"]
	path = compiler/llvm
	url = https://github.com/llvm-mirror/llvm
[submodule "compiler/clang"]
	path = compiler/clang
	url = https://github.com/llvm-mirror/clang
[submodule "compiler/libcxx"]
	path = compiler/libcxx
	url = https://github.com/llvm-mirror/libcxx
[submodule "compiler/lld"]
	path = compiler/lld
	url = https://github.com/llvm-mirror/lld
